

<span class="text-info">{{pageStatus}}</span>
<div class="hero-unit" ng-show="paneToShow == 'List'">
	<h2>{{userName}}</h2>
	<ul class="nav nav-pills"><li><h3>Projects <a href ng-click="showAdd()"><i class="icon-plus"></i></a></h3></li></ul>

	<div ng-repeat="project in projects | filter:userFilter:true">
		<dl class="span7"><dt><a href="#/projects/{{project._id}}/conversations">{{project.title}}</a></dt><dd>{{project.description}}</dd></dl>
		<span class="span1"><code>{{project.status}}</code></span>
		<span class="span2">
			{{project.dueDate | date:'shortDate'}}
			<div class="btn-group">
				<button class="btn btn-link" ng-click="showEdit(project._id)"><i class="icon-pencil"></i></button>
				<button class="btn btn-link" ng-click="deleteProject(project._id, project.title)"><i class="icon-remove"></i></button>
			</div>
		</span>
	</div>
	
</div>

<div class="hero-unit span3" ng-show="paneToShow == 'Edit'">
	<h2>{{editTitle}}</h2>

	<div>
		<label for="title" class="control-label">Title</label>
		<input type="text" id="title" ng-model="title">

		<label for="description" class="control-label">Description</label>
		<input type="text" id="description" ng-model="description">

		<label for="status" class="control-label">Status</label>
		<input type="text" name="status" ng-model="status">

		<label for="dueDate" class="control-label">Due Date</label>
		<input type="text" name="dueDate" ng-model="dueDate" datepicker-popup="shortDate" is-open="true">

		<label for="team" class="control-label">Team</label>
		<select multiple ng-multiple="true" name="team" ng-model="team" ng-options="user._id as (user.nickName || user.firstName) for user in users"></select>

	<div>
	<div class="btn-group pull-right">
		<button class="btn btn-link" ng-show="pageStatus == ''" ng-click="saveChanges()"><i class="icon-ok"></i></button>
		<button class="btn btn-link" ng-show="pageStatus == ''" ng-click="paneToShow = 'List'"><i class="icon-remove"></i></button>
	</div>
</div>
