

<span class="text-info">{{pageStatus}}</span>
<div class="hero-unit" ng-show="paneToShow == 'List'">
	<h2>{{userName}}</h2>
	<ul class="nav nav-pills"><li><h3>Projects <a href ng-click="showAdd()"><i class="icon-plus"></i></a></h3></li></ul>

	<div ng-repeat="project in projects | filter:userFilter:true">
		<span class="span6"><h4>{{project.title}}</h4><span>{{project.description}}</span></span>
		<span class="span1">{{project.status}}</span>
		<span class="span2">
			{{project.dueDate | date:'shortDate'}}
			<!--<ul class="nav nav-pills"><li><a href ng-click="showEdit(project._id)"><i class="icon-pencil"></i></a></li></ul>-->
			<button class="btn btn-link" ng-click="showEdit(project._id)"><i class="icon-pencil"></i></button>
		</span>
	</div>
	
</div>

<div class="hero-unit span3" ng-show="paneToShow == 'Edit'">
	<h2>{{editTitle}}</h2>

	<div>
		<label for="title" class="control-label">Title</label>
		<input type="text" id="title" ng-model="title">

		<label for="description" class="control-label">Description</label>
		<input type="text" id="description" ng-model="description">

		<label for="status" class="control-label">Status</label>
		<input type="text" name="status" ng-model="status">

		<label for="dueDate" class="control-label">Due Date</label>
		<input type="text" name="dueDate" ng-model="dueDate">
		<!--<datepicker ng-model="dueDate"></datepicker>-->

		<label for="team" class="control-label">Team</label>
		<select multiple ng-multipl="true" name="team" ng-model="team" ng-options="user._id as user.firstName for user in users"></select>

	<div>
	<div class="btn-group pull-right">
		<button class="btn btn-link" ng-show="pageStatus == ''" ng-click="saveChanges()"><i class="icon-ok"></i></button>
		<button class="btn btn-link" ng-show="pageStatus == ''" ng-click="paneToShow = 'List'"><i class="icon-remove"></i></button>
	</div>
</div>
