

<span class="text-info">{{pageStatus}}</span>
<div class="hero-unit" ng-show="paneToShow == 'List'">
	<h3>Users <button class="btn" ng-click="showAdd()"><i class="icon-plus"></i></button></h3>

	<div ng-repeat="user in users">
		<span class="span9">{{user.firstName}} {{ (user.nickName != '') && '"' + user.nickName + '"' || ''}} {{user.lastName}}</span>
		<a class="btn btn-mini" href="mailto:{{user.email}}"><i class="icon-envelope"></i></a>
		<div class="btn-group">
			<a class="btn btn-mini" ng-click="showEdit(user._id)"><i class="icon-pencil"></i></a>
			<a class="btn btn-mini" ng-click="deleteUser(user._id, user.firstName)"><i class="icon-remove"></i></a>
		</div>
	</div>
	
		
</div>

<div class="hero-unit span3" ng-show="paneToShow == 'Edit'">
	<h3>{{editTitle}}</h3>

	<div>
		<label for="firstName" class="control-label">First</label>
		<input type="text" id="firstName" ng-model="firstName">

		<label for="lastName" class="control-label">Last</label>
		<input type="text" id="lastName" ng-model="lastName">

		<label for="nickName" class="control-label">Nickname</label>
		<input type="text" name="nickName" ng-model="nickName">

		<label for="email" class="control-label">Email</label>
		<input type="text" name="email" ng-model="email">
	<div>
	<div class="btn-group pull-right">
		<a class="btn" ng-show="pageStatus == ''" ng-click="saveChanges()"><i class="icon-ok"></i></a>
		<a class="btn" ng-show="pageStatus == ''" ng-click="paneToShow = 'List'"><i class="icon-remove"></i></a>
	</div>
</div>
