

<span class="text-info">{{pageStatus}}</span>
<div class="hero-unit" ng-show="paneToShow == 'List'">
	<h2>Users <button class="btn btn-link" ng-click="showAdd()"><i class="icon-plus"></i></button></h2>

	<div ng-repeat="user in users">
		<a href="#/users/{{user._id}}/projects"><span class="span8">{{user.firstName}} {{ (user.nickName != '') && '"' + user.nickName + '"' || ''}} {{user.lastName}}</span></a>
		<button class="btn btn-link" href="mailto:{{user.email}}"><i class="icon-envelope"></i></button>
		<div class="btn-group">
			<button class="btn btn-link" ng-click="showEdit(user._id)"><i class="icon-pencil"></i></button>
			<button class="btn btn-link" ng-click="deleteUser(user._id, user.firstName)"><i class="icon-remove"></i></button>
		</div>
	</div>
	
		
</div>

<div class="hero-unit span3" ng-show="paneToShow == 'Edit'">
	<h2>{{editTitle}}</h2>

	<div>
		<label for="firstName" class="control-label">First</label>
		<input type="text" id="firstName" ng-model="firstName">

		<label for="lastName" class="control-label">Last</label>
		<input type="text" id="lastName" ng-model="lastName">

		<label for="nickName" class="control-label">Nickname</label>
		<input type="text" name="nickName" ng-model="nickName">

		<label for="email" class="control-label">Email</label>
		<input type="text" name="email" ng-model="email">
	<div>
	<div class="btn-group pull-right">
		<button class="btn btn-link" ng-show="pageStatus == ''" ng-click="saveChanges()"><i class="icon-ok"></i></button>
		<button class="btn btn-link" ng-show="pageStatus == ''" ng-click="paneToShow = 'List'"><i class="icon-remove"></i></button>
	</div>
</div>
